192.168.1.99:80 {
    tls off
    proxy /api 192.168.1.99:8081 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-For {remote}
        header_upstream X-Forwarded-Port {server_port}
        header_upstream X-Forwarded-Proto {scheme}    
    }
    root ./dev
}
