
html, body {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed; 
  overflow-y: hidden;
  overflow-x: hidden;
 
}

#player {
  text-align: center;
  overflow: hidden;
  border: hidden;
  padding: 0%;
}
